@charset "UTF-8";
@import "./variables.css";
@import "./base.css";
@import "./header.css";
@import "./footer.css";
@import "./card.css";

button {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

